*
{
margin: 0;
padding: 0;
}
body
{
    background-image: linear-gradient(orange,rgb(69, 228, 41),rgb(121, 68, 199),rgb(81, 45, 210),rgb(154, 225, 180));
}

.container-1
{
    background-color: rgb(112, 112, 221);
    height: 30px;
}
.container-1 ul{
    list-style-type: none;
    color: white;
    margin:0 12px;
    padding:5px
}
.gameContainer
{
display: flex;
justify-content: center;
margin-top: 50px;

}

.container
{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Courier New', Courier, monospace;
 

}
.box{
     border: 2px solid black; 
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
color: white;
    background-image: linear-gradient(red,yellow);
    cursor: pointer;
}
.gameinfo{
    font-size: 25px;
}
.gameinfo
{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 padding: 0 10px;
}
.gameinfo h1{
    animation: style 1.5s infinite;
}
@keyframes style {
    0%{
        color: aqua;
    }
    10%{color: red;}
    20%{color: yellowgreen;}
    30%{color: #e417b8;}
    40%{color: #2f07b2;}
    70%{color: red;}
}


.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0
{
    border-right: 0;
}
.bl-0
{
    border-left: 0;
}
.bb-0
{
    border-bottom: 0;
}
.bt-0
{
    border-top: 0;
}
#reset
{
    margin:10px 3vw;
    padding:3px 3vw;
    border-radius:10px;
  
    background-color:#ccd1d0   
}
#reset:hover{
    background-color: rgb(187, 187, 214);
    color: black;
}
.line1
{
    background-color: black;
    width: 20vw;
    height: 1%;
    position: absolute;
    transition: width 1s ease-in-out;

}
@media  (max-width:1200px)
{
.gameContainer
{
    flex-wrap: wrap;
    margin-left: -30px;
}
.gameinfo{
    margin-top: 34px;
}
.gameinfo h1
{
font-size: 1.5rem;
}
}
    
